body{
  margin: 0 0;
  font-size: 1.5em;
  line-height: 1.4;
  font-weight: 400;
  font-family: Larsseit,HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
  background: #14232f;
  overflow-x: hidden;
}
